{{#extends 'base'}}

{{#block 'subtitle'}}
Profile
{{/block}}

{{#block 'content'}}

<div class="container-profile mt-5">
  <div class="profile-box">
    <h4>User Profile</h4>
    <span><strong class="profile-field-header">Name:</strong> {{user.name}}</span>
    <span><strong class="profile-field-header">Username:</strong> {{user.username}}</span>
    <span><strong class="profile-field-header">Email:</strong> {{user.email}}</span>
    <span><strong class="profile-field-header">Contact Number:</strong> {{user.contact_number}}</span>
    <span><strong class="profile-field-header">Account Type:</strong> {{user.role.role}}</span>
  </div>
</div>

{{/block}}

{{/extends}}