{{#extends 'base'}}

{{#block 'subtitle'}}
Products
{{/block}}

{{#block 'content'}}

<h1 class="mt-3">All Products</h1>

<div class="d-flex justify-content-end mb-3">
  <a href="/products/create" class="btn btn-primary">Add Product</a>
</div>

<table class='table table-striped table-sm table-responsive'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Image</th>
      <th>Product</th>
      <th>Filling Mechanism(s)</th>
      <th>Cap Type</th>
      <th>Properties</th>
      <th>Variant(s)</th>
      <th>Specifications</th>
      <th>Total Stock</th>
      <th>Price Range</th>
      <th>Sale Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    {{#each products}}
    <tr>
      <td>{{this.id}}</td>
      <td>
        <img src='{{this.thumbnail_url}}' alt='Thumbnail image of fountain pen' />
      </td>
      <td>{{this.brand.brand}} {{this.model}}</td>
      <td>
        {{join this.fillingMechanisms ', '}}
      </td>
      <td>
        {{this.capType.cap_type}}
      </td>
      <td>
        {{#each this.properties}}
        <span class='badge rounded-pill bg-primary'>{{this.property}}</span>
        {{/each}}
      </td>
      <td>{{length this.variants}}</td>
      <td>
        Weight:
        {{this.weight}}
        g
        <br />
        Diameter:
        {{this.diameter}}
        mm
        <br />
        Length:
        {{this.length}}
        mm
        <br />
      </td>
      <td>{{this.totalStock}}</td>
      <td>${{divide this.minPrice 100}} ~ ${{divide this.maxPrice 100}}</td>
      <td>{{this.saleStatus.sale_status}}</td>
      <td>
        <a href='/products/{{this.id}}/variants' class='btn btn-primary btn-sm'>Variants</a>
        <a href='/products/{{this.id}}/edit' class='btn btn-sm btn-secondary'>Edit</a>
        <a href='/products/{{this.id}}/delete' class='btn btn-sm btn-danger'>Delete</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

{{/block}}

{{/extends}}